@use "../../../../../utils/mixins";
@use "../../../../../utils/variables";
@use "sass:color";

.menuCard {
    @include mixins.flex(row, space-between, flex-end);
    @include mixins.verticalDropShadow(0.08);
    width: 100%;
    margin-top: 15px;
    background: white;
    border-radius: 15px;
    overflow: hidden;

    @include mixins.tabletAndUp {
        @include mixins.flex(column, flex-start, center);
    }

    @include mixins.laptopAndUp {
        @include mixins.flex(row, space-between, flex-end);
    }

    &_caption {
        @include mixins.flex(row, space-between, flex-end);
        width: 100%;
        padding: 15px 25px 15px 15px;
        flex-grow: 1;

        &_title {
            margin-bottom: 5px;
            font-size: 1.2rem;
            font-weight: 700;
        }

        &_description {
            font-size: 1rem;
            font-weight: 300;
        }
    }
    
    &_button {
        @include mixins.flex(column, space-between, flex-end);
        @include mixins.transition;
        align-self: stretch;
        padding: 15px;
        border: none;
        border-radius: 0px 15px 15px 0px;
        background-color: variables.$tertiary;

        @include mixins.tabletAndUp {
            flex-direction: row;
            border-radius: 0px 0px 15px 15px;
        }
    
        @include mixins.laptopAndUp {
            flex-direction: column;
            border-radius: 0px 15px 15px 0px;
            background-size: 200% 200%;
            background-image: linear-gradient(to left, variables.$tertiary 50%, white 0);
            background-position: left;
        }

        &:hover {
            cursor: pointer;
            background-color: color.scale(variables.$tertiary, $lightness: 40%);
        }

        &:focus {
            @include mixins.laptopAndUp {
                background-position: right;
            }
        }

        &_price {
            font-size: 1rem;
            font-weight: 700;
            padding-bottom: 0.4rem;

            @include mixins.tabletAndUp {
                padding-bottom: 0;
            }
        
            @include mixins.laptopAndUp {
                padding-bottom: 0.4rem;
            }
        }

        &_icon {
            @include mixins.transition;
            font-size: 1.4rem;
            transform: scale(-1, 1) translateX(0);

            @include mixins.laptopAndUp {
                transform: scale(-1, 1) translateX(-3rem);
            }
        }

        &:focus &_icon {
            transform: scale(-1, 1) translateX(0);
        }
    }

    &:hover &_button {
        @include mixins.laptopAndUp {
            background-position: right;
        }

        &_icon {
            @include mixins.laptopAndUp {
                transform: scale(-1, 1) translateX(0);
            }
        }
    }
}