@use "../../utils/variables";

.cart{
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    &_section {
        background: variables.$grey--light;
        padding: 30px;
        flex-grow: 1;

        &_title {
            font-family: variables.$display;
            font-weight: normal;
            font-size: variables.$display-xlarge;
            text-align: center;
            margin-bottom: 2rem;
        }

        &_description {
            font-weight: 300;
            font-size: variables.$copy-large;
            text-align: center;
            margin: 0 3rem 2rem;
        }
    } 
}