@use "../../utils/mixins";

.like {
    @include mixins.transition;
    margin-left: 10px;
    width: 22px;
    height: 22px;
    position: relative;
    background: none;
    border: none;

    &_heart {
        @include mixins.transition();
        position: absolute;
        top: 0;
        right: 0;

        &--mid {
            opacity: 0;
        }
    }
    
    &:hover {
        cursor: pointer;
    }

    &:hover &_heart--mid {
        opacity: 1;
    }
}