@use "../../../../../utils/mixins";
@use "../../../../../utils/variables";
@use "sass:color";

.restaurantCard {
    @include mixins.resetLink;
    width: 100%;
    margin-bottom: 20px;

    @include mixins.mobileAndUp {
        width: 47%;
        margin-bottom: 40px;
    }

    @include mixins.laptopAndUp {
        width: 22%;
    }

    &_photo {
        @include mixins.flex(row, flex-end, flex-start);
        height: 175px;
        width: 100%;
        border-radius: 15px 15px 0px 0px;
        background-size: cover;
        background-repeat: no-repeat;
    }

    &_flag {
        background: variables.$tertiary;
        margin: 15px;
        padding: 10px;
        color: color.scale(variables.$tertiary, $lightness: -58%)
    }

    &_caption {
        @include mixins.flex(row, space-between, center);
        @include mixins.verticalDropShadow(0.10);
        @include mixins.transition;
        padding: 20px 15px;
        background: white;
        border-radius: 0px 0px 15px 15px;
    }

    &_title {
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 5px;
    }

    &_city {
        font-size: 17px;
        font-weight: 300;
    }

    &:hover {
        cursor: pointer;
    }

    &:hover &_caption, &:focus &_caption {
        background: color.scale(variables.$primary--bright, $lightness: 87%);
    }
}