@use "../../../../../utils/mixins";
@use "../../../../../utils/variables";
@use "sass:color";

.restaurantCard {
    @include mixins.resetLink;
    width: 100%;
    margin-bottom: 20px;

    @include mixins.mobileAndUp {
        width: 47%; 
        margin-bottom: 40px;
    }

    &:not(:nth-child(2n)) {
        @include mixins.mobileAndUp {
            margin-right: 6%;
        }
    }

    @include mixins.laptopAndUp {
        width: 22%;
    }

    &:not(:last-child) {
        @include mixins.laptopAndUp {
            margin-right: 4%;
        }
    }

    &:last-child {
        @include mixins.laptopAndUp {
            margin-right: 0;
        }
    }

    &_photo {
        @include mixins.transition;
        @include mixins.flex(row, flex-end, flex-start);
        height: 175px;
        width: 100%;
        border-radius: 15px 15px 0px 0px;
        background-size: 110%;
        background-repeat: no-repeat;
        background-position: center;
    }

    &_flag {
        background: variables.$tertiary;
        margin: 15px;
        padding: 10px;
        color: color.scale(variables.$tertiary, $lightness: -58%)
    }

    &_caption {
        @include mixins.verticalDropShadow(0.10);
        @include mixins.transition;
        padding: 20px 15px;
        background: white;
        border-radius: 0px 0px 15px 15px;
            

        &_title {
            font-size: variables.$copy-small;
            font-weight: 700;
            margin-bottom: 5px;
        }
    
        &_city {
            font-size: variables.$copy-small;
            font-weight: 300;
        }
    }

    &:hover, &:focus {
        cursor: pointer;
    }

    &:hover &_caption, &:focus &_caption {
        background-color: color.scale(variables.$primary, $lightness: 85%)
    }

    &:hover &_photo, &:focus &_photo {
        background-size: 130%;
    }
}