@use "../../../../utils/variables";

.order {
    &:not(:last-child) {
        margin-bottom: 3rem;
    }

    &_title {
        font-family: variables.$display;
        font-weight: normal;
        font-size: 2rem;
    }

    &_total {
        font-weight: 500;
        font-size: 1.5rem;
        text-align: right;
        margin-top: 1.5rem;
    }
}