@use "../../../../utils/variables";

.order {
    &:not(:last-child) {
        margin-bottom: 3rem;
    }

    &_title {
        font-family: variables.$display;
        font-weight: normal;
        font-size: variables.$display-large;
    }

    &_total {
        font-weight: 500;
        font-size: variables.$copy-large;
        text-align: right;
        margin-top: 1.5rem;
    }
}