@use "../../utils/mixins";
@use "../../utils/variables";

.header {
    @include mixins.flex(row, space-between, center);
    padding: 20px 30px;

    &_logo {
        @include mixins.resetLink;
        @include mixins.transition;

        &_text {
            font-family: variables.$display;
            font-size: variables.$display-small;

            @include mixins.mobileAndUp {
                font-size: variables.$display-xlarge;
            }
        }

        &:hover, &:focus {
            color: variables.$tertiary;
        }
    }

    &_arrow {
        @include mixins.resetLink;
        @include mixins.transition;
        font-size: 1.75rem;
        border: none;
        background: none;

        &--hidden {
            visibility: hidden;
        }

        &:hover, &:focus {
            cursor: pointer;
            color: variables.$tertiary;
        }
    }

    &_basket {
        @include mixins.resetLink;
        @include mixins.transition;
        @include mixins.flex(column, center, center);
        min-width: 5rem;

        &_icon {
            font-size: 1.75rem;
        }

        &_text {
            font-size: variables.$copy-small;
            font-weight: 300;
            margin-top: 0.4rem;
        }

        &:hover &_icon, &:focus &_icon {
            color: variables.$tertiary;
        }
    }
}