@use "../../../../utils/mixins";
@use "../../../../utils/variables";

.menu {
    background: variables.$grey--light;
    padding: 15px;

    @include mixins.tabletAndUp {
        @include mixins.flex(row, space-between, stretch);
        padding: 15px 50px;
    }

    &_category {
        margin-bottom: 45px;

        @include mixins.tabletAndUp {
            @include mixins.flex(column, flex-start, flex-start);
            padding: 1rem;
            width: 30%;
        }
        
        &_heading {
            @include mixins.flex(column, flex-start, flex-start);
            font-size: variables.$copy-small;
            font-weight: 300;
            text-transform: uppercase;
            margin-left: 0.5rem;
            
            &::after {
                content: "";
                width: 40px;
                height: 3px;
                background: variables.$tertiary; 
                margin-top: 0.5rem;
            }
        }
    }
}

@for $i from 1 through 20 {
    .menuItem--#{$i} {
        opacity: 0;
        transform: translateY(20px);
        animation: menuItem 0.8s ease;
        animation-fill-mode: forwards;
        animation-delay: calc(#{$i}s / 5);
    }
}

@keyframes menuItem {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}