@use "../../../../../utils/mixins";
@use "../../../../../utils/variables";
@use "sass:color";

.orderCard {
    @include mixins.flex(column, center, flex-start);
    padding: 1rem 0;
    border-bottom: solid 1px variables.$secondary;

    @include mixins.mobileAndUp {
        @include mixins.flex(row, space-between, center);
    }

    &_caption {
        margin-bottom: 1rem;

        @include mixins.mobileAndUp {
            margin-bottom: 0;
        }

        &_title {
            margin-bottom: 5px;
            font-size: variables.$copy-medium;
            font-weight: 700;
        }

        &_description {
            font-size: variables.$copy-small;
            font-weight: 300;
        }
    }

    &_counter {
        @include mixins.flex;

        &_quantity {
            @include mixins.flex;
            margin-right: 2rem;
    
            &_button {
                @include mixins.transition;
                border: none;
                box-shadow: none;
                color: white;
                font-family: 'Roboto', sans-serif;
                text-decoration: none;
                padding: 5px 10px;
                border-radius: 10px;
                background-color: variables.$primary;
                box-shadow: 0 35px 50px -10px variables.$secondary inset, 0px 10px 10px -5px rgba(0,0,0,0.20);
                font-size: variables.$copy-large;
                font-weight: 500;
                
    
                &:hover, &:focus {
                    background-color: color.scale(variables.$primary, $lightness: 20%);
                    box-shadow: 0 35px 50px -10px color.scale(variables.$secondary, $lightness: 20%) inset, 0px 10px 10px -5px rgba(0,0,0,0.30);
                    cursor: pointer;
                }
            }
    
            &_text {
                font-size: variables.$copy-large;
                font-weight: 500;
                margin: 0 1rem;
            }
        }
    
        &_price {
            font-size: variables.$copy-large;
            font-weight: 500;
        }
    }
}